# macOS
.DS_Store

# Python
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Node/frontend
node_modules/

# Environment files
.env
.env.*
!.env.example

# Tooling
coverage/
htmlcov/

# VS Code Settings
.vscode/

# Routing Data
routing/artifacts/
cache/
*.shp
*.shx
*.dbf
*.prj
*.cpg